
	
	.aa{
		font-size:60px;
		}
	
	h1{
	  color:#FFC001;
	  font-family:Copperplate, Papyrus, fantasy;
	  font-size:75px;
	  position:absolute;
	  top:200px;
	  left:100px;
	}
  #bb{background-color:#00B7ff;
	position:absolute;
	LEFT:125PX;
	height:auto; 
	font-size:auto;"}